div.team-header {
  background: #8d999b url(./images/bg-main.png) center 0 no-repeat;
  /* background: #808080 url(./images/bg-team.png) center 0 no-repeat; */
}

div.team-members {
  flex-direction: row;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  div.team-members {
    flex-direction: column;
    align-items: center;
  }
}
