.circle-with-text {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 480px;
    border-radius: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
}

.circle-with-text p.step {
    font-size: 6rem;
    padding: 10px 10px 0 10px;
    margin: 0;
    font-family: "Playfair Display", "Lato", serif;
    text-align: center;
}

.circle-with-text h2 {
    font-size: 1.4rem;
    margin: 0;
    color: white;
    text-align: center;
    padding: 0 40px;
}

.circle-with-text p {
    font-size: 1.3rem;
    line-height: 1.3;
    color: white;
    padding: 0 20px;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .circle-with-text p.step {
        font-size: 5rem;
    }
    .circle-with-text {
        width: 420px;
        height: 420px;
    }
    .circle-with-text p {
        font-size: 1.2rem;
        line-height: 1.2;
    }
}

@media only screen and (max-width: 480px) {
    .circle-with-text p.step {
        font-size: 4rem;
        padding: 0;
    }
    .circle-with-text h2 {
        padding: 0 20px;
    }
    .circle-with-text {
        width: 320px;
        height: 320px;
    }
    .circle-with-text p {
        font-size: 1rem;
        line-height: 1.1;
    }
}
