div.footer {
  border-top: 1px solid white;
  padding-top: 1%;
  background-color: black;
  flex-direction: column;
  align-items: center;
}

.footer-container {
  padding: 0 20px;
  background-color: black;
}

.logo-container {
  justify-content: center;
}

div.footer img.logo {
  padding-bottom: 10%;
  max-width: 400px;
  min-width: 300px;
  width: 40%;
}

.link-container {
  flex-direction: row;
  justify-content: center;
  display: flex;
}

.link {
  font-size: 0.6rem;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px;
}

@media only screen and (max-width: 480px) {
  div.footer img.logo {
    min-width: unset;
    width: 60%;
  }
}