div.footer img.logo {
  margin: 5% 0;
  max-width: 400px;
  min-width: 300px;
  width: 40%;
}

@media only screen and (max-width: 480px) {
  div.footer img.logo {
    min-width: unset;
    width: 60%;
  }
}