div.main-header {
  background: #8d999b url(./images/bg-main.png) center 0 no-repeat;
}

div.main-header img.logo {
  width: 50%;
  max-width: 600px;
  min-width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
