div.main-header {
  background: #000 url(./images/1.png) center 0 no-repeat;
}

div.team-header {
  background: #000 url(./images/2.png) center 0 no-repeat;
}

div.vr-header {
  background: #000 url(./images/7.png) center 0 no-repeat;
}

div.contact-header {
  background: #000 url(./images/8.png) center 0 no-repeat;
}

div.privacy-header {
  background: #000 url(./images/10.png) center 0 no-repeat;
}

div.header {
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

div.separator {
  width: 80px;
  border-top: 1px solid white;
}

div.headers {
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  justify-content: center;
}

div.header h1 {
  color: white;
  font-family: BelweSB-Medium, "Lato", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  margin: 20px 0;
}

div.header h2 {
  color: white;
  margin: 20px 0;
}

@media only screen and (max-width: 480px) {
  div.headers {
    /* margin-top: 100px; */
  }
  div.header h1 {
    font-size: 3rem;
  }
  div.header h2 {
    font-size: 2rem;
  }
}

/* 
Testa lägga ett annat utanför body men fixa sedan resten är incheckat

div.main-header {
  background: #000 url(./images/1.png) center center;
}

div.team-header {
  background: #000 url(./images/2.png) center center;
}

div.vr-header {
  background: #000 url(./images/7.png) center center;
}

div.contact-header {
  background: #000 url(./images/8.png) center center;
}

div.privacy-header {
  background: #000 url(./images/10.png) center center;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

div.header {
  align-items: center;
  justify-content: center;
}
 */
