div.main-header {
  background: #f7bd50 url(./images/bg-main.png) center 0 no-repeat;
}

div.team-header {
  background: #f7bd50 url(./images/bg-about.png) center 0 no-repeat;
}

div.vr-header {
  background: #f7bd50 url(./images/bg-collaborate.png) center 0 no-repeat;
}

div.contact-header {
  background: #f7bd50 url(./images/bg-contact.png) center 0 no-repeat;
}

div.contact-header {
  background: #f7bd50 url(./images/bg-main.png) center 0 no-repeat;
}

div.privacy-header {
  background: #f7bd50 url(./images/bg-privacy.png) center 0 no-repeat;
}

div.header {
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

div.separator {
  width: 80px;
  border-top: 1px solid black;
}

div.headers {
  flex-direction: column;
  padding: 0 20px;
  align-items: center;
  margin-top: 200px;
}

div.header h1 {
  font-family: BelweSB-Medium, "Lato", sans-serif;
  font-weight: 300;
  font-size: 4rem;
  margin: 20px 0;
}

div.header h2 {
  margin: 20px 0;
}

@media only screen and (max-width: 480px) {
  div.headers {
    /* margin-top: 100px; */
  }  
  div.header h1 {
    font-size: 3rem;
  }  
  div.header h2 {
    font-size: 2rem;
  }
}




