/*header*/
div.main-header {
	background: #808080 url(./images/bg-main.png) center 0 no-repeat;
}

div.main-header img.logo {
  width: 40%;
  max-width: 400px;
  min-width:300px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*end header*/

/*process*/
div.process-item {
  flex-direction: row;
  margin: 20px 0;
  padding: 3%;
  justify-content: space-between;
  align-items: center;
}

div.process-item img {
	width: 170px;
  height: 170px;
  flex-shrink: 0;
  padding:2%;
}

div.process-info {
	color: black;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  width: 77%;
  padding: 2%;
}

div.process-item {
	background-color: #ffbd33;
}
/*end process*/

@media only screen and (max-width: 500px) {
  div.process-item {
      flex-direction: column;
  }
  div.process-item img {
    margin: 4% 0;
  }
  div.process-info {
      text-align: center;
      align-items: center;
  }
}
