#menuIcon {
    border-radius: 50%;
    padding: 20px;
    background-color: white;
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;
}

.menuIcon {
    color: black;
    font-size: 40px;
    align-self: center;
}

#navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
}

div.column {
    flex-direction: column;
    align-items: flex-end;
    padding: 140px 100px 0 0;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 900;
    padding: 50px 8px 8px 8px;
}

#navbar a.subLink {
    font-size: 1rem;
    font-weight: 300;
    padding: 5px;
}

#navbar a.active {
    color: #fbbc09;
}

@media only screen and (max-width: 480px) {
    #navbar {
        flex-direction: column;
        justify-content: flex-start;
    }
    div.column {
        text-align: left;
    }
}
