div.person-item {
  background-color: #f4a3a3;
  flex-direction: column;
  border-radius: 40px;
  margin: 20px 0;
  padding: 2% 0 4% 0;
  align-items: center;
  margin: 20px 10px;
  flex: 1;
  box-shadow: 2px 2px 20px #042226;
  min-width: 300px;
  max-width: 400px;
}

div.person-item img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  padding: 4%;
}

div.person-info {
  color: black;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10% 10% 10%;
}


div.person-info h3 {
  margin: 0 auto;
}

div.person-info a {
  color: black;
}

@media only screen and (max-width: 1024px) {
  div.person-item {
    width: 500px;
  }
}

@media only screen and (max-width: 768px) {
  div.person-item {
    width: 400px;
  }
  div.person-item img {
    width: 130px;
    height: 130px;
  }
}

@media only screen and (max-width: 480px) {
  div.person-item {
    margin: 10px 0;
    min-width: unset;
  }
}

@media only screen and (max-width: 480px) {
  div.person-item {
    width: 100%;
  }  
}

