.panel-sell-items {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-flow: column;
  grid-gap: 20px;
}

div.panel-sell-item {
  display: flex;
  padding: 30px 0 60px 0;
  flex-direction: column;
  align-items: center;
}

div.panel-sell-item img {
  max-width: 140px;
}

div.panel-sell-item div.panel-info {
  color: white;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  height: 120px;
}

div.panel-sell-items div.panel-info h2 {
  margin: 10px auto;
  font-size: 2rem;
}

div.panel-sell-items div.panel-info a {
  color: white;
}

div.panel-sell-items div.panel-info p,
div.panel-sell-items div.panel-info h2 {
  color: white;
  text-align: center;
}

div.panel-info p.small {
  font-size: 1.1rem;
  line-height: 1.3;
}

div.panel-sell-items a.downloadLink {
  color: white;
  font-size: 1.1rem;
}

div.panel-sell-items a.buttonLink {
  border: 2px solid white;
  padding: 15px 40px;
  border-radius: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
  letter-spacing: 1.5px;
  font-size: 0.9rem;
  font-weight: 900;
  margin: 20px;
}

@media only screen and (max-width: 1024px) {
  .panel-sell-items {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  div.panel-sell-item {
    width: 400px;
  }
}
@media only screen and (max-width: 480px) {
  div.panel-info h2 {
    font-size: 1.7rem;
  }
}
