div.panel-item {
  flex-direction: column;
  border-radius: 40px;
  margin: 20px 0;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  margin: 10px;
  flex: 1;
  min-width: 300px;
  max-width: 500px;
}

div.panel-item img {
  width: 200px;
  height: 200px;
  flex-shrink: 0;
  padding: 4%;
}

div.panel-info {
  color: black;
  text-align: center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 77%;
  padding: 2%;
}

div.panel-item {
  background-color: #f4a3a3;
}

div.panel-info h3 {
  text-align: center;
}

div.panel-info a {
  color: black;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 1rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h1 {
    font-size: 2rem;
  }
  div.panel-item {
    flex-direction: column;
  }
  div.panel-item img {
    margin: 4% 0;
  }
  div.panel-info {
    text-align: center;
    align-items: center;
  }
}
