.persons {
    flex-direction: column;
    align-items: center;
}

.persons img {
    width: 657px;
    border-radius: 15px;
}

@media only screen and (max-width: 768px) {
    .persons img {
        width: 400px;
    }
}
